<%- include('partials/header.ejs') %>
<body>
  
  <%- include('partials/navbar.ejs') %>

  <div class="container">

    <div class="card" id="formulario-pergunta">
      <div class="card-header">
        <h3>Realizar pergunta</h3>
      </div>
      <div class="card-body">
        <form method="post" action="/salvarpergunta">
          <label for="title">Titulo</label>
          <input type="text" placeholder="Titulo..." class="form-control" id="title" name="title">
          <br>
          <label for="desc">Descrição</label>
          <textarea id="desc" placeholder="Descreva sua pergunta aqui" class="form-control" name="desc"></textarea>
          <br>
          <button class="btn btn-primary">Perguntar</button>
        </form>
      </div>
    </div>
    
  </div>
  
</body>
<%- include('partials/footer.ejs') %>